@import "bourbon";
@import "globals/_vars";

html, body {
	font-family: $font_body;
}

.flex-control-nav,
.flex-direction-nav,
.no-print {
	display: none !important;
}

p {
	orphans: 3;
    widows: 3;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font_title;
	margin-bottom: .5em;
	page-break-after: avoid;
	orphans: 3;
    widows: 3;

	br {
		display: none;
	}
}

h1,
.h1 {
    font-size: 2rem;
    text-transform: none;
}
h2,
.h2 {
    font-size: 1.6rem;
    text-transform: uppercase;
}
h3,
.h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
}
h4,
.h4 {
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: none;
}

img {
	float: right;
	max-width: 40%;
	margin-left: 1em;
	margin-bottom: 1em;
}

figure img {
	max-width: 100%;
	float: none;
	margin-left: 0;
}

*,
*:before,
*:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
}

a,
a:visited {
    text-decoration: underline;
    color: #000 !important;
}

a[href^="#"]:after,
a[href^="javascript:"]:after {
    content: "";
}

pre,
blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
}


tr,
img {
    page-break-inside: avoid;
}
