@include keyframes(pulse-red) {
  0% {
    background-color: $_dk-red;
  }
  50% {
    background-color: $_lt-red;
  }
  100% {
    background-color: $_dk-red;
  }
}

@include keyframes(peg-red) {
  100% {
    background-color: $_lt-red;
  }
}

@include keyframes(pulse-blue) {
  0% {
    background-color: $_dk-blue;
  }
  50% {
    background-color: $_blue;
  }
  100% {
    background-color: $_dk-blue;
  }
}

