// retina.less
// A helper mixin for applying high-resolution background images (http://www.retinajs.com)
// Requires LESS v1.3.3 or higher

// Updated 4/30/13 based on http://css-tricks.com/snippets/css/retina-display-media-query/
// I would like to note that "at2x" is rather misleading, since it's really "at1.5x"

// EDIT: Needed to break this into two separate MQs, because retina MBPs were getting these
// options triggered outside of their respective min-width queries
// This may be able to be avoided with SASS.


@mixin at2x( $file, $type, $w: auto, $h: auto, $i: false ) {
	$important: if($i, "!important", ""); // if the $i var is passed, go ahead and set it to !important and add it to the mixin
    $at2x_path: $file + '@2x.' + $type;
    $pixelRatio : 1.5;

    background-image: url($file + '.' + $type) #{$important};
    background-size: $w $h #{$important};

    @media (-webkit-min-device-pixel-ratio: $pixelRatio), (min-resolution: $pixelRatio + 'dppx') {
        background-image: url($at2x_path) #{$important};
        background-size: $w $h #{$important};
    }
}

@mixin rems( $property, $sizeValue, $i: false ) {
	$important: if($i, '!important', ''); // if the $i var is passed, go ahead and set it to !important and add it to the mixin
	$remValue: $sizeValue;
	$pxValue: ($sizeValue * $rem-conversion-factor );

	#{$property}: ($remValue)+rem #{$important};
	.lt-ie9 & {
		#{$property}: ($pxValue)+px #{$important};
	}
}

@function strip-units($n) {
	@return $n / ($n * 0 + 1);
}

@mixin behave-as-row {
	margin-left: -$gutter/2;
	margin-right: -$gutter/2;

	.flexbox & {
		@include display( flex );
		@include flex-direction( row );
		@include flex-wrap( wrap );
	}
}

@mixin behave-as-col {
	float: left;
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	width: 100%;
}

@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}

@mixin rounded($_radius: $radius) {
	@include border-radius( $_radius, $_radius, $_radius, $_radius );
}

@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
	border-radius: $topleft $topright $bottomright $bottomleft;
}

@mixin box-shadow( $shadow... ) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}


// ----------------------------------------------------
// BUTTONS
// ----------------------------------------------------

@mixin btn( $bg, $color: white, $lighten: true ) {
	@include rounded( $radius );
	@include box-shadow( 0 0 0 1px rgba(255, 255, 255, 0.5) );
	@include transition( all .15s );
	display: inline-block;
	padding: .875em 1.125em;
	background: $bg;
	border: 1px solid darken( $bg, 10% );
	color: $color !important;
	text-shadow: 0 1px 0 darken( $bg, 10% );
	font-weight: bold;
	text-transform: uppercase;
	font-family: $font_title;
	font-style: italic;
	font-size: .9em;
	text-decoration: none;
	line-height: 1em;
	cursor: pointer;

	&:hover {
		@if $lighten {
			background: lighten( $bg, 10% );
			border-color: $bg;
		} @else {
			background: darken( $bg, 10% );
			border-color: darken( $bg, 20% );
			text-shadow-color: darken( $bg, 20% );
		}
	}

	&:active {
		@if $lighten {
			background: lighten( $bg, 15% );
			border-color: lighten( $bg, 5% );
		} @else {
			background: darken( $bg, 15% );
			border-color: darken( $bg, 25% );
			text-shadow-color: darken( $bg, 25% );
		}
	}
}

@mixin btn_modify( $bg, $color: white, $lighten: true ) {
	background: $bg;
	border: 1px solid darken( $bg, 10% );
	color: $color !important;
	text-shadow: 0 1px 0 darken( $bg, 10% );

	&:hover {
		@if $lighten {
			background: lighten( $bg, 10% );
			border-color: $bg;
		} @else {
			background: darken( $bg, 10% );
			border-color: darken( $bg, 20% );
			text-shadow-color: darken( $bg, 20% );
		}
	}

	&:active {
		@if $lighten {
			background: lighten( $bg, 15% );
			border-color: lighten( $bg, 5% );
		} @else {
			background: darken( $bg, 15% );
			border-color: darken( $bg, 25% );
			text-shadow-color: darken( $bg, 25% );
		}
	}
}

// -------------------------------------------------------------------
// BLOCKQUOTE
// -------------------------------------------------------------------
@mixin blockquote( $_color: $_mid-grey, $_quoteColor: $_color, $_sizeFactor: 1) {
    $lineHeightFactor: .6;
    p {
        margin-top: 0;
        color: $_color;
        font-size: 1em * $_sizeFactor;
        line-height: 1em / $lineHeightFactor * $_sizeFactor;
        &:first-of-type::before,
        &:last-of-type::after {
            display: inline-block;
            color: lighten( desaturate( $_quoteColor, 40%), 40%);
            height: .5em;
            line-height: .925em;
            font-size: 3em;
            width: .5em;
            font-style: normal;
        }
        &:first-of-type::before {
            content: "\201C";
            margin-right: .2em;
            margin-left: -.7em;
            text-align: right;
            vertical-align: text-top;
        }
        &:last-of-type::after {
            content: "\201D";
            margin-left: .2em;
            margin-right: -.7em;
            text-align: left;
            vertical-align: text-top;
        }
    }
    cite {
        display: block;
        margin: 0 0 1em;
    }
    &.big {
        @include min( 600) {
            p {
                font-size: 1.3125rem * $_sizeFactor;
                line-height: 1.3125rem / $lineHeightFactor * $_sizeFactor;
            }
        }
    }
}