@mixin min( $media ) {
	@content;
}

@mixin range( $min, $max ) {
	// output nothing for desktop devices
	// we still have to "use" @content to keep the compiler happy though... so lie to it
	@if false {
		@content;
	}
}