.hyphenate {
	-ms-word-break: break-all;
	word-break: break-all;

	/* Non standard for webkit */
	word-break: break-word;

	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.header-style {
	font-family: $font-title;
	font-weight: bold;
	font-style: italic;
	line-height: 1.2;
}

.shadow-pop {
	text-shadow: 0 1px 0 white, 0 2px 0 rgba(0,0,0,.2);
}
.little-big-text {
	font-size: .9em;
	text-transform: uppercase;
	display: inline-block;
	color: $_dk-red;
}

.uppercase-space {
	text-transform: uppercase;
	font-size: .75em;
	letter-spacing: .1em;
}

.flex {
	@include display( flex );
	& > * {
		@include flex( 1 0 );
	}
}

