@mixin min( $media ) {
	@if $media == 0 {
		@content;
	}
	@else {
		@media all and ( min-width: $media + px ) { @content; }
	}	
}

@mixin range( $min, $max ) {
	@media all and ( min-width: $min + px ) and (max-width: $max + px ) { @content; }
}