@include min( 0) {
    // Prevent font dimming effect when flexslider moves
    // html, body, input, li, p, img{
    //     -webkit-font-smoothing: antialiased !important;
    //     -webkit-transform: translateZ(O)!important;
    //     -moz-transform: translateZ(O)!important;
    //     -ms-transform: translateZ(O)!important;
    //     transform: translateZ(O)!important;
    // }
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    figure {
        margin: 0;
        position: relative;

        figcaption {
            padding: .5em 1em;
            background: $_dk-grey;
            font-size: .8rem;
            color: white;
            font-style: italic;
        }
    }
    .fa {
        @include transition( color .2s );
        margin-right: .5em;

        &--trailing {
            margin-right: -1em;
            margin-left: .3em;
        }
        &--leading {
            margin-left: -1em;
            margin-right: .3em;
        }

        &-skype {
            color: #00AAF1;
        }

        a:hover & {
            color: inherit;
        }
    }
    .ellipsis {
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .font-size {
        &--small {
            font-size: small;
        }
        &--smaller {
            font-size: smaller;
        }
    }

    // ----------------------------------------------------
    // MODULES
    // ----------------------------------------------------
    .mod {
        margin-bottom: $pad;

        & > .bg {
            // @include at2x( "/img/bg/grid/grid", "png", 310px, 310px );
            @include rounded( $radius );
            background: url('/img/bg/dumbell2.png') $_platinum;
            padding: 1em;
            border: 1px solid #EEE;
            .boxshadow & {
                @include box-shadow( inset 0 1px 1px 0 rgba(0, 0, 0, .3),
                0 0 0 1px white);
                border: none;
            }
        }
        &.dark {
            color: $text_light;
            & > .bg {
                background-color: $_mid-grey;
                border-color: #404040;
                .boxshadow & {
                    @include box-shadow( inset 0 1px 1px 0 rgba(0, 0, 0, .5),
                    0 0 0 1px white);
                    border: none;
                }
            }
        }

        &--compact {
            font-size: rem(14);

            & > .bg {
                padding: 1em;
            }
        }
    }
    .btn {
        @include btn( $_blue,
        white);

        &:hover {
            @include transform( scale(1.05) );
        }

        &--red {
            @include btn-modify( $_lt-red,
            white);
            @include animation( pulse-red 2s ease-in-out infinite );
        }
        &--dark {
            @include btn-modify( $_mid-grey,
            white);
        }

        &--inline {
            font-size: .875em;
            line-height: 1em;
            display: inline-block;
            padding: .25em .5em;
        }
    }
    .pointer {
        cursor: pointer;
    }
    // ----------------------------------------------------
    // END MODULES
    // ----------------------------------------------------
    // ----------------------------------------------------
    // COMMON
    // ----------------------------------------------------
    .apply-relative {
        position: relative;
    }
    .pad,
    .pad-h,
    .pad-l {
        padding-left: $pad;
        &--small {
            padding-left: $pad / 2;
        }

        &--large {
            padding-left: $pad * 2;
        }

        &--none {
            padding-left: 0;
        }
    }
    .pad,
    .pad-h,
    .pad-r {
        padding-right: $pad;
        &--small {
            padding-right: $pad / 2;
        }

        &--large {
            padding-right: $pad * 2;
        }

        &--none {
            padding-right: 0;
        }
    }


    .pad,
    .pad-t,
    .pad-v {
        padding-top: $pad;

        &--small {
            padding-top: $pad / 2;
        }

        &--large {
            padding-top: $pad * 2;
        }

        &--none {
            padding-top: 0;
        }
    }

    .pad,
    .pad-b,
    .pad-v {
        padding-bottom: $pad;

        &--small {
            padding-bottom: $pad / 2;
        }

        &--large {
            padding-bottom: $pad * 2;
        }

        &--none {
            padding-bottom: 0;
        }
    }


    .margin,
    .margin-h,
    .margin-l {
        margin-left: $pad;
        &--small {
            margin-left: $pad / 2;
        }

        &--large {
            margin-left: $pad * 2;
        }

        &--none {
            margin-left: 0;
        }
    }
    .margin,
    .margin-h,
    .margin-r {
        margin-right: $pad;
        &--small {
            margin-right: $pad / 2;
        }

        &--large {
            margin-right: $pad * 2;
        }

        &--none {
            margin-right: 0;
        }
    }


    .margin,
    .margin-t,
    .margin-v {
        margin-top: $pad;

        &--small {
            margin-top: $pad / 2;
        }

        &--large {
            margin-top: $pad * 2;
        }

        &--none {
            margin-top: 0;
        }
    }

    .margin,
    .margin-b,
    .margin-v {
        margin-bottom: $pad;

        &--small {
            margin-bottom: $pad / 2;
        }

        &--large {
            margin-bottom: $pad * 2;
        }

        &--none {
            margin-bottom: 0;
        }
    }

    // ----------------------------------------------------
    // END COMMON
    // ----------------------------------------------------
    // ----------------------------------------------------
    // IMAGES
    // ----------------------------------------------------
    .img-wrap {

        img {
            width: 100%;
            display: block;
        }
    }
    .ir {
        .ir-inner {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            overflow: hidden;
            text-indent: -999em;
            height: 0;
            position: relative;

            .ir-inner-fill {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
        &--3-4 .ir-inner {
            padding-top: percentage( 3/4 );
        }
        &--16-9 .ir-inner {
            padding-top: percentage( 9/16 );
        }
        &--1-2 .ir-inner {
            padding-top: percentage( 1/2 );
        }

        &--circle {
            -webkit-shape-outside: circle(50%) border-box;
            shape-outside: circle(50%) border-box;
            -webkit-shape-margin: 1em;
            shape-margin: 1em;

            .ir-inner {
                padding-top: 100%;
                border-radius: 50%;
            }
        }
    }

    .flow-image {
        .ir-inner {
            @include transition( all .4s );
            box-shadow: 0 0 1em -1em rgba( 0,0,0,.0 );
        }

        &--right,
        &--left {
            margin-bottom: 1em;
            width:50%;
        }
        &--right {
            float: right;
            margin-left: 1em;
        }
        &--left {
            float: left;
            margin-right: 1em;
        }
        &--offset-right {
            margin-right: -10%;
        }
        &--offset-left {
            margin-left: -10%;
        }

        &:hover {

            .ir-inner {
                @include transform( scale( 1.3 ) );
                box-shadow: 0 1.5em 1em -1em rgba( 0,0,0,.7 );

            }
        }
    }

    .image-group {
        width: 100%;
        margin-bottom: 1em;
        border: 5px solid white;
        box-shadow: 0 3px 2px -2px rgba(0,0,0,1);
    }
    // ----------------------------------------------------
    // END IMAGES
    // ----------------------------------------------------
    html {
        background: $bg_footer;
        font-family: $font_body;
        color: $text_dark;
        -webkit-text-size-adjust: 100%;
    }
    a {
        @include transition( color .2s );
        color: $link;
        text-decoration: none;
        &:hover {
            color: $link_hover;
        }

        figcaption & {
            color: white;
        }
    }
    hr {
        @include clearfix;
    }
    .header-and-body {
        background: url('/img/bg/static.png') #fff;

        html.multiplebgs.cssgradients & {
            background: radial-gradient(circle at 50% 0, rgba(white,.75) 0%, rgba(white,0) 100%), url('/img/bg/static.png'), #fff;
        }
    }
    strong, b {
        font-weight: bold;
    }
    em, i {
        font-style: italic;
    }
    .page-content {
        padding-top: $pad;
        padding-bottom: $pad;
        min-height: 18rem;

        #page_home & {
            padding-top: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            @extend .header-style;
            margin-bottom: .5em;

            a {
                border-bottom: none;
                &:hover {
                    color: $_blue;
                    border-bottom: none;
                }
            }
        }
        p {
            margin: 0 0 1em;
        }

        a:not(.btn) {

            border-bottom: 1px dotted;
        }

        .aside {
            float: right;
            border-left: .5em solid rgba(black,.1);
            background: white;
            padding: $pad;
            font-size: .8em;
            font-style: italic;
            max-width: 50%;
            margin: 0 (-$pad) 1em 1em;
        }
    }
    .hero-content {
        @include align-items( center );
        position: relative;
        overflow: hidden;
        padding: 2em 0;

        .title {
            font-size: 1.5rem;
            br {
                display: none;
            }
        }
        .copy {
            font-family: $font_title;
            font-size: 1.2rem;
            line-height: 1.6;
            text-shadow: 0 1px 0 white;

            &:last-of-type {
                margin-bottom: 0;
            }

        }

        &__copy {
            position: relative;
            text-align: center;
        }
        &__img {
            @include transform( translateX(-50%) translateY(-50%) );
            position: absolute;
            left: 50%;
            top: 50%;
            width: 290px;
            opacity: .2;


            .ir {
                overflow: hidden;
                border-radius: 50%;
            }
            .ir-inner {
                padding-top: 100%;
                background-image: url(/img/1977.png);
                background-color: $_platinum;
            }
        }
    }
    .style-ol {
        list-style-type: decimal;
    }
    .style-ul {
        & > li > .fa {
            margin: 0 .5em 0 -1.5em;
            width: 1em;
            position: relative;
        }
    }
    .style-ol,
    .style-ul {
        & > li {
            padding-left: 1.5em;
            position: relative;
            display: inline-block;
            margin-bottom: .5em;
            width: 100%;
        }
    }

    .pill {
        font-size: .875em;
        line-height: 1em;
        display: inline-block;
        padding: .25em;
        font-weight: bold;
        text-transform: uppercase;
        border: 1px solid;
        border-radius: 3px;

        &--red {
            border-color: $_lt-red;
            background: $_lt-red;
            color: white;
        }

        &--blue {
            border-color: $_lt-blue;
            background: $_lt-blue;
            color: white;
        }
    }

    .h0 {
        font-size: 2.8rem;
    }
    h1,
    .h1,
    h2,
    .h2 {
        & > a {
            color: inherit;
            &:hover {
                border-bottom: 1px dotted;
            }
        }
    }
    h1,
    .h1 {
        @extend .shadow-pop;
        font-size: 2rem;
        text-transform: none;
    }
    h2,
    .h2 {
        font-size: 1.4rem;
        text-transform: uppercase;
        text-shadow: none;
    }
    h3,
    .h3 {
        font-size: 1.2rem;
        text-transform: uppercase;
        text-shadow: none;
    }
    h4,
    .h4 {
        font-size: 1.3rem;
        font-weight: normal;
        text-transform: none;
        text-shadow: none;
    }
    .flex {
        @include display( flex);
    }
    .flex-row {
        @extend .flex;
        @include flex-direction( row);
        @include flex-wrap( wrap);
    }
    .flex-column {
        @extend .flex;
        @include flex-direction( column);
    }

    #page_testimonials {
        blockquote {
            @include blockquote();
            padding: 2em;
            margin: 2em 0;
            background: white;

            cite {
                font-style: italic;
                color: $_blue;
                font-family: $font_title;
                margin: 0;
                font-weight: bold;
                font-size: 1.2em;
            }
        }
    }

    .testimonials {
        cite {
            @extend .header-style;
            color: $_blue;
        }
    }

    .social {
        @include transition( background-color .2s, opacity .2s );
        display: block;
        position: relative;
        width: $social__icon--size;
        height: $social__icon--size;
        color: white;

        &:hover {
            color: white;
        }

        .fa {
            @include transform( translateX(-50%) translateY(-50%) );
            position: absolute;
            left: 50%;
            top: 50%;
        }
        &--fb {
            background-color: $social__color--facebook;
            &:hover {
                background-color: lighten( $social__color--facebook, 10% );
            }
        }
        &--yelp {
            background-color: $social__color--yelp;
            &:hover {
                background-color: lighten( $social__color--yelp, 10% );
            }
        }
    }

    .hide {
        display: none;
    }

}

@include min( 480) {
    .text-col2,
    .text-col3,
    .text-col4 {
        -webkit-column-count: 2;
        /* Chrome, Safari, Opera */
        -moz-column-count: 2;
        /* Firefox */
        column-count: 2;
    }

}

@include range( 0, 600 ) {
    .hide-mobile {
        display: none !important;
    }
}
@include min( 600) {
    .col1,
    .col2 {
        width: percentage( 1 / 2 );
    }

    .hide-desktop {
        display: none !important;
    }
    h1,
    .h1 {
        font-size: 2.2rem;
    }
    h2,
    .h2 {
        font-size: 1.6rem;
    }
    #page_testimonials {
        blockquote {
            border-left: .5em solid rgba(black,.1);
            padding-left: 3em;
        }
    }
    .flow-image {
        width: 40%;
    }

    .image-group {
        float: right;
        max-width: 350px;
        margin-right: -6%;
        margin-left: 1em;
        margin-bottom: 1em;
        @include transform( rotateZ(3deg) );
        border: 5px solid white;
        box-shadow: 1px 3px 2px -2px black;
        width: 40%;
    }
    figure {
        figcaption.can-nest {
            @include transition( background .2s );
            position: absolute;
            left: 0;
            top: 0;
            text-align: left;
            display: inline-block;
            max-width: 66%;
            background: rgba(black,0);
        }
        &:hover {
            figcaption.can-nest {
                background: rgba(black,.8);
            }
        }
    }

    .skype-training,
    .mental-training {
        width: 50%;
    }

    .mod  {
        & > .bg {
            padding: 2em;
        }
        &--compact {
            & > .bg {
                padding: 1em;
            }
        }
    }

    .hero-content {
        overflow: visible;

        .title {
            br {
                display: block;
            }
        }

        &__copy {
            text-align: left;
            padding-right: 230px;
        }
        &__img {
            @include transform( translateY(-50% ) );
            left: initial;
            right: -5%;

            width: 290px;
            opacity: 1;
        }
    }

}

@include min( 768) {
    .center-text--desktop {
        text-align: center;
    }

    .text-col3,
    .text-col4 {
        -webkit-column-count: 3;
        /* Chrome, Safari, Opera */
        -moz-column-count: 3;
        /* Firefox */
        column-count: 3;
    }

    .hero-content {
        min-height: 400px;

        .title {
            font-size: 1.8rem;
        }
        .copy {
            font-size: 1.4rem;

        }

        &__copy {
            padding-right: 320px;
        }
        &__img {
            @include transform( none );
            right: -10%;
            top: initial;
            bottom: 0;
            width: 400px;

            .ir {
                border-radius: 0;
            }
            .ir-inner {
                background-color: transparent;
            }
        }
    }
}

@include min( 900) {
    .text-col4 {
        -webkit-column-count: 4;
        /* Chrome, Safari, Opera */
        -moz-column-count: 4;
        /* Firefox */
        column-count: 4;
    }

    .flow-image {
        width: 33.3333%;
    }

    .hero-content {
        .title {
            font-size: 2.5rem;
        }
        &__copy {
            padding-right: 320px;
        }
        &__img {
            right: -3%;
        }
    }

    .skype-training {
        width: 40%;
    }
    .mental-training {
        width: 60%;
    }

}

.in-front {
    @include range(0,350) {
        &--under-xs {
            @include order( -1 );
        }
    }
    @include range(0,450) {
        &--under-sm {
            @include order( -1 );
        }
    }
    @include range(0,600) {
        &--under-md {
            @include order( -1 );
        }
    }
    @include range(0,769) {
        &--under-lg {
            @include order( -1 );
        }
    }
    @include range(0,900) {
        &--under-xl {
            @include order( -1 );
        }
    }
}
