@include min( 0 ) {
	.footer {
		@extend .uppercase-space;
		padding-top: $pad * 2;
		padding-bottom: $pad * 4;
		color: $_cream;

		a {
			color : $_cream;
			text-decoration: none;

			&:visited,
			&:hover {
				color: $_dk-cream;
			}
		}

		.credits {
			margin: 3em 0;
		}

		.footer_nav {
			@extend .header-style;
			font-size: rem( 18 );
			margin-bottom: 3em;

			li {
				margin-bottom: .4em;
				padding-bottom: .4em;
				border-bottom: 1px solid rgba(255,255,255,.15);
			}
		}

		.contact {
			strong {
				@extend .header-style;
				margin-bottom: 0;
			}
			p {
				margin-bottom: 1em;
			}
		}

		.contact,
		.credits {
			color: rgba(white,.7);
			a {
				color: inherit;
				border-bottom: 1px dotted;
				&:hover,
				&:focus {
					color: white;
				}
			}
			strong {
				color: white;
			}
		}
	}
}

@include min( 600 ) {
	.footer {
		.footer_nav {
			font-size: rem( 16 );
		}
	}
}