@include min( 0 ) {
	.split-form {
		@extend .clearfix;
	}

	.split-form_beside {
		margin-bottom: $split-form_pad;
	}

	.split-form_form {
		padding: $split-form_pad;
		margin-bottom: $split-form_pad;
		background: white;

		border: 1px solid #fff;
		box-shadow: inset 0 1px 5px -2px rgba(0,0,0,1);
		border-radius: $radius;
	}

}


@include min( 768 ) {

	.split-form {
		background: white;
		margin-bottom: $split-form_pad;
		box-shadow: 0 1px 2px -1px rgba(0,0,0,.75);

		html.flexbox & {
			@include display( flex );
			@include flex-direction( row );
		}
	}

	.split-form_beside {
		margin-bottom: 0;
		padding: $split-form_pad;
		width: $split-form_beside-tablet-width;
		color: $_mid-grey;
		font-size: .9em;
		line-height: 1.8;

		html:not(.flexbox) & {
			float: right;
			position: relative;
			border-left: 1px solid $_platinum;
			left: -1px;
		}

		html.flexbox & {
			@include flex( 0 1 $split-form_beside-tablet-width );
			background: url('/img/bg/dumbell2.png') $_platinum;
			box-shadow: inset .6em 0 .8em -.8em rgba(0,0,0,.5);
		}
	}

	.split-form_form {
		margin-bottom: 0;
		border: none;
		box-shadow: none;
		border-radius: 0;

		html:not(.flexbox) & {
			margin-right: $split-form_beside-tablet-width;
			border-right: 1px solid $_platinum;
		}
		html.flexbox & {
			@include order( -1 );
			@include flex( 1 0 auto );
		}
	}
}

@include min( 900 ) {

	.split-form_beside {
		width: $split-form_beside-desktop-width;

		html.flexbox & {
			@include flex( 0 1 $split-form_beside-desktop-width );
		}
	}

	.split-form_form {

		html:not(.flexbox) & {
			margin-right: $split-form_beside-desktop-width;
		}
	}
}