@include min( 0 ) {
	.page-width {
		margin: 0 auto;
		padding: 0 $gutter;
		width: 100%;
		max-width: $site-max-width;
	}

	.row {
		@include behave-as-row;
	}
	.col,
	.lastCol {
		@include behave-as-col;
	}
	.lastCol {
		float: none;
		display: table-cell;
		width: 9999em;
	}
}



$vb-cols__gutter: 20px;


.vb-cols {
	@include clearfix;
    margin-left: $vb-cols__gutter / -2;
    margin-right: $vb-cols__gutter / -2;

	& > [class*='vb-col-'] {
	    float: left;
	    padding-left: $vb-cols__gutter / 2;
	    padding-right: $vb-cols__gutter / 2;
	}

    &--flex {
    	@include display( flex );
    	@include flex-flow( row wrap );
    	@include align-items( stretch ); // ?

    	& > [class*='vb-col-'] {
    		float: none;
    	}
    }

    &--no-gutters {
    	margin-left: 0;
    	margin-right: 0;

    	& > [class*='vb-col-'] {
    		padding-left: 0;
    		padding-right: 0;
    	}
    }

    & > .vb-col {
	    &--0 {

	    }
	    &--1-1, &--2-2, &--3-3, &--4-4, &--5-5 {
	        width: ( 100% );
	    }
	    &--1-2 {
	        width: ( 1/2 * 100%);
	    }
	    &--1-3 {
	        width: ( 1/3 * 100%);
	    }
	    &--2-3 {
	        width: ( 2/3 * 100%);
	    }
	    &--1-4 {
	        width: ( 1/4 * 100%);
	    }
	    &--2-4 {
	        width: ( 2/4 * 100%);
	    }
	    &--3-4 {
	        width: ( 3/4 * 100%);
	    }
	    &--1-5 {
	        width: ( 1/5 * 100%);
	    }
	    &--2-5 {
	        width: ( 2/5 * 100%);
	    }
	    &--3-5 {
	        width: ( 3/5 * 100%);
	    }
	    &--4-5 {
	        width: ( 4/5 * 100%);
	    }
	    &--end {
	    	// NOTE: Don't use --end classes within .flex-row. The width will cause problems.
	        float: none;
	        display: table-cell;
	        width: 999em;
	    }
	}
	@include min( 350 ) {
		.vb-col-xs {
		    &--0 {

		    }
		    &--1-1, &--2-2, &--3-3, &--4-4, &--5-5 {
		        width: ( 100%);
		    }
		    &--1-2 {
		        width: ( 1/2 * 100%);
		    }
		    &--1-3 {
		        width: ( 1/3 * 100%);
		    }
		    &--2-3 {
		        width: ( 2/3 * 100%);
		    }
		    &--1-4 {
		        width: ( 1/4 * 100%);
		    }
		    &--2-4 {
		        width: ( 2/4 * 100%);
		    }
		    &--3-4 {
		        width: ( 3/4 * 100%);
		    }
		    &--1-5 {
		        width: ( 1/5 * 100%);
		    }
		    &--2-5 {
		        width: ( 2/5 * 100%);
		    }
		    &--3-5 {
		        width: ( 3/5 * 100%);
		    }
		    &--4-5 {
		        width: ( 4/5 * 100%);
		    }
		    &--end {
		    	// NOTE: Don't use --end classes within .flex-row. The width will cause problems.
		        float: none;
		        display: table-cell;
		        width: 999em;
		    }
		}
	}

	@include min( 450 ) {
		.vb-col-sm {
		    &--0 {

		    }
		    &--1-1, &--2-2, &--3-3, &--4-4, &--5-5 {
		        width: ( 100%);
		    }
		    &--1-2 {
		        width: ( 1/2 * 100%);
		    }
		    &--1-3 {
		        width: ( 1/3 * 100%);
		    }
		    &--2-3 {
		        width: ( 2/3 * 100%);
		    }
		    &--1-4 {
		        width: ( 1/4 * 100%);
		    }
		    &--2-4 {
		        width: ( 2/4 * 100%);
		    }
		    &--3-4 {
		        width: ( 3/4 * 100%);
		    }
		    &--1-5 {
		        width: ( 1/5 * 100%);
		    }
		    &--2-5 {
		        width: ( 2/5 * 100%);
		    }
		    &--3-5 {
		        width: ( 3/5 * 100%);
		    }
		    &--4-5 {
		        width: ( 4/5 * 100%);
		    }
		    &--end {
		    	// NOTE: Don't use --end classes within .flex-row. The width will cause problems.
		        float: none;
		        display: table-cell;
		        width: 999em;
		    }
		}
	}

	@include min( 600 ) {
		.vb-col-md {
		    &--0 {

		    }
		    &--1-1, &--2-2, &--3-3, &--4-4, &--5-5 {
		        width: ( 100%);
		    }
		    &--1-2 {
		        width: ( 1/2 * 100%);
		    }
		    &--1-3 {
		        width: ( 1/3 * 100%);
		    }
		    &--2-3 {
		        width: ( 2/3 * 100%);
		    }
		    &--1-4 {
		        width: ( 1/4 * 100%);
		    }
		    &--2-4 {
		        width: ( 2/4 * 100%);
		    }
		    &--3-4 {
		        width: ( 3/4 * 100%);
		    }
		    &--1-5 {
		        width: ( 1/5 * 100%);
		    }
		    &--2-5 {
		        width: ( 2/5 * 100%);
		    }
		    &--3-5 {
		        width: ( 3/5 * 100%);
		    }
		    &--4-5 {
		        width: ( 4/5 * 100%);
		    }
		    &--end {
		    	// NOTE: Don't use --end classes within .flex-row. The width will cause problems.
		        float: none;
		        display: table-cell;
		        width: 999em;
		    }
		}
	}

	@include min( 768 ) {
		.vb-col-lg {
		    &--0 {

		    }
		    &--1-1, &--2-2, &--3-3, &--4-4, &--5-5 {
		        width: ( 100%);
		    }
		    &--1-2 {
		        width: ( 1/2 * 100%);
		    }
		    &--1-3 {
		        width: ( 1/3 * 100%);
		    }
		    &--2-3 {
		        width: ( 2/3 * 100%);
		    }
		    &--1-4 {
		        width: ( 1/4 * 100%);
		    }
		    &--2-4 {
		        width: ( 2/4 * 100%);
		    }
		    &--3-4 {
		        width: ( 3/4 * 100%);
		    }
		    &--1-5 {
		        width: ( 1/5 * 100%);
		    }
		    &--2-5 {
		        width: ( 2/5 * 100%);
		    }
		    &--3-5 {
		        width: ( 3/5 * 100%);
		    }
		    &--4-5 {
		        width: ( 4/5 * 100%);
		    }
		    &--end {
		    	// NOTE: Don't use --end classes within .flex-row. The width will cause problems.
		        float: none;
		        display: table-cell;
		        width: 999em;
		    }
		}
	}

	@include min( 900 ) {
		.vb-col-xl {
		    &--0 {

		    }
		    &--1-1, &--2-2, &--3-3, &--4-4, &--5-5 {
		        width: ( 100%);
		    }
		    &--1-2 {
		        width: ( 1/2 * 100%);
		    }
		    &--1-3 {
		        width: ( 1/3 * 100%);
		    }
		    &--2-3 {
		        width: ( 2/3 * 100%);
		    }
		    &--1-4 {
		        width: ( 1/4 * 100%);
		    }
		    &--2-4 {
		        width: ( 2/4 * 100%);
		    }
		    &--3-4 {
		        width: ( 3/4 * 100%);
		    }
		    &--1-5 {
		        width: ( 1/5 * 100%);
		    }
		    &--2-5 {
		        width: ( 2/5 * 100%);
		    }
		    &--3-5 {
		        width: ( 3/5 * 100%);
		    }
		    &--4-5 {
		        width: ( 4/5 * 100%);
		    }
		    &--end {
		    	// NOTE: Don't use --end classes within .flex-row. The width will cause problems.
		        float: none;
		        display: table-cell;
		        width: 999em;
		    }
		}
	}
}