@include min( 0 ) {

	.header {
		@include background( radial-gradient(circle farthest-corner at 50% 25%, white 33%,#EEE) );
		padding-top: $pad * 3;
		text-align: center;
		box-shadow: 0 -1em 1em 1em rgba(0,0,0,.25);
		margin-bottom: $pad;
		position: relative;
		z-index: 1;

		&::after {
            position: absolute;
            content: "";
            background-image: url(/img/bg/shadow.png);
            width: 100%;
            height: 16px;
            background-position: center top;
            background-size: contain;
            left: 0;
            background-repeat: no-repeat;
            bottom: -16px;
            z-index: 1;
        }

		#page_home & {
            margin-bottom: 0;
        }

		.header_logo {
			display: block;
			width: 100%;
			max-width: 200px;
			margin: 0 auto $pad;
			z-index: 2;

			&:before {
				content: "";
				display: block;
				padding: percentage( 415 / 740 ) 0 0;
				background: url( '/img/logo.png' ) center center no-repeat;
				background-size: 100%;
			}
		}

		.header_contact {
			@extend .uppercase-space;
			text-align: center;
			padding-bottom: $pad;
			line-height: 1em;
			color: $_mid-grey;
		}

		.header_address,
		.header_phone {
			white-space: nowrap;
		}
		.header_address {
			margin: 0;
			display: block;
		}

		.header_phone {
			margin: 0 0 1em 0;
			display: inline-block;
		}

		.header_nav {


			.nav-l a, .nav-r a, .mobile-nav-link {
				@include transition-property( all );
				@include transition-duration( .15s );
				color : white;
				text-decoration: none;
				display: inline-block;
				position:relative;
				padding: $pad / 3 * 2;
				color: white;
				font-family: $font_title;
				font-weight: bold;
				font-style: italic;
				text-transform: uppercase;
				font-size: 1em;
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;
				text-shadow: 0 1px 0 black;
				line-height: 1em;

				&:hover {
					@include box-shadow( inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 10px 20px 0 rgba(0,0,0,.2), 0 0 2px 0px rgba(255,255,255,.3) );
					background: $_blue;
					color: white;
					border-color: darken( $_dk-grey, 5% );
				}
			}

			.desktop-store-link {
				display: none;
			}

			.mobile-nav-link {
				padding: 0 $pad ;
				height: rem(48);
				line-height: rem( 48 );
				color: $_mid-grey;
				text-shadow: none;
				position: fixed;
				top: 0;
				right: 0;
				border-left: 1px solid $_silver;
				border-bottom: 1px solid $_lt-grey;
				border-right: none;
				border-top: none;
				background: rgba(white, .9);
				border-radius: 0 0 0 $radius;
				box-shadow: 2px 1px 3px -1px black;
				font-size: .8em;
				z-index: 9999;

				&:hover {
					box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.5), inset 0 10px 20px 0 rgba(0,0,0,.2), .75em -0.5em .5em .5em black;
				}
			}

			.nav-l, .nav-r {
				display: none;
			}
		}
		.social-links {
			@include transition( opacity .2s );
			position: fixed;
			top: 0;
			left: 0;
			opacity: .9;
			z-index: 9999;
			border-radius: 0 0 $radius 0;
			overflow: hidden;

			&:hover {
				opacity: 1;
			}

			.social {
				float: left;
				&:last-child {
					border-radius: 0 0 $radius 0;
					overflow: hidden;
				}
			}
		}
	}

}

@include min( 375 ) {

	.header {
		.header_address,
		.header_phone {
			display: inline-block;
			margin: 0;
		}

		.header_phone {
			margin-right: 3em;
		}
	}
}

@include min( 480 ) {
	.header {
		padding-top: $pad;
	}
}

@include min( 600 ) {
	.header {

		background: transparent;
		box-shadow: none;
		margin-bottom: $pad * 2;

		.header_logo {
			max-width: 225px;
		}

		.header_address {
			display: inline-block;
		}
		.header_phone {
			margin: 0 3em 0 0;
		}

		.header_nav {

			font-size: 1em;
			@include rounded( $radius );
			border: 1px solid $_dk-grey;
			width: auto;
			text-align: center;
			overflow: hidden;

			background: url( '/img/bg/static.png' ) $_dk-grey;

			.nav-l, .nav-r {
				display: inline-block;
			}

			.mobile-nav-link {
				display: none;
			}
		}
		.social-links {
			left: inherit;
			margin-left: -1px;
			border-radius: 0 0 $radius $radius;
			&:first-child {
				border-radius: 0 0 0 $radius;
				overflow: hidden;
			}
		}
	}
}

@include min( 768 ) {
	.header {

		.header_nav {

			a {
				padding : $pad;
			}
		}
	}
}


@include min( 900 ) {
	.header {
		$nav-offset : -7.4%;
		$contact-offset : $nav-offset - 1.8%; // -13% base

		// padding-bottom: 6%;

		.header_contact {
			display: block;
			width: 100%;
			padding: 0;
			position: relative;
		}
		.header_address,
		.header_phone {
			margin: 0;
			width: percentage( 1 / 3 );
			position: absolute;
			margin-top: $contact-offset;
		}
		.header_phone {
			left: 0;
			text-align: right;
			padding-right: $pad / 3 * 2;
		}
		.header_address {
			right: 0;
			text-align: left;
			padding-left: $pad / 3 * 2;
		}

		.header_logo {
			position: relative;
			float: none;
			margin: 0 auto;
			width: percentage( 1 / 3 );
			max-width: 300px;
		}


		.header_nav {
			margin-top: $nav-offset;
			font-size: 1em;

			.tablet-store-link {
				display: none !important;
			}

			.desktop-store-link {
				@include transition( padding .2s, color .2s );
				@include btn( $_blue, white );
				padding-top: 0;
				padding-bottom: 0;
				min-height: $social__icon--size;
				line-height: $social__icon--size;
				position: absolute;
				display: block;
				top: -$gutter;
				right: $gutter;
				border-radius: 0 0 $radius $radius;
				box-shadow: 0 3px 1px -2px rgba(0,0,0,.5);
				border-bottom: 2px solid $_dk-blue;
				font-size: 1em;

				&:hover {
					padding-top: 5px;
				}
			}

			.nav-l, .nav-r {
				display: block;
				width: percentage( 1 / 2 );
			}
			.nav-l {
				text-align: right;
				float: left;
				padding-right: percentage( 1 / 6 );
				@include background-image(linear-gradient(to left, rgba(255,255,255,.5), rgba(255,255,255,0) 50%));
			}
			.nav-r {
				float: right;
				text-align: left;
				padding-left: percentage( 1 / 6 );
				@include background-image(linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,0) 50%));
			}
		}
	}
}