@include min( 0 ) {
	.flex-control-nav,
	.flex-direction-nav {
		display: none;
	}
	.flexslider {
		blockquote {
			p {
				&:before,
				&:after {
					content: "\"";
					color: $_lt-grey;
					@extend .header-style;
				}
				&:before {
					margin-right: .2em;
				}
				&:after {
					margin-left: .2em;
				}
			}
			footer {
				font-style: italic;
				color: $_lt-grey;

				&:before {
					margin-right: .2em;
					content: "-";
				}
			}
		}

	}
}