// ---------------------------------------------------------
// SIZES
// ---------------------------------------------------------
$pad : 16px;
$gutter : 16px;
$site-max-width : 1000px;
$burger-size : .875em;
$radius: 2px;

// ---------------------------------------------------------
// COLORS
// ---------------------------------------------------------
$_lt-blue : #1A9DF1;
$_blue : #074872;
$_dk-blue : darken( #074872, 10% );

$_cream : #FFF;
$_dk-cream : desaturate( darken( $_cream, 5% ), 50% );

$_dk-grey : #222222;
$_mid-grey : #666666;
$_lt-grey : #AAAAAA;
$_silver : #CCC;
$_platinum : #EEE;
$_off-white : #f6f6f6;

$_dk-red : #580505;
$_lt-red : #A51A1A;

$link : $_blue;
$link_hover : $_lt-blue;
$link_visited : darken( $_blue, 5% );

$bg_footer : url('/img/bg/static.png') $_dk-red;

// $bg_mod : $_dk-cream;
// $bg_mod-dark : $_dk-red;

$text_dark : $_dk-grey;
$text_light : $_cream;

// ---------------------------------------------------------
// SOCIAL
// ---------------------------------------------------------
$social__color--twitter: #56a3d9 !default;
$social__color--gplus: #dd4b39 !default;
$social__color--linkedin: #007bb6 !default;
$social__color--youtube: #c73928 !default;
$social__color--facebook: #3b5998 !default;
$social__color--yelp: #C41200 !default;
$social__icon--size: 2.25rem;

// ---------------------------------------------------------
// FONTS
// ---------------------------------------------------------
$font_body : "Open Sans", Tahoma, Arial, sans-serif;
$font_title : "Roboto Condensed", $font_body;


// --------------------------------------------------------------------
// FORMS
// --------------------------------------------------------------------
$split-form_pad : 2 * $pad;
$split-form_beside-tablet-width : 16rem;
$split-form_beside-desktop-width : 20rem;